.person-details {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    padding: 1rem;

    .person-image {
        border-radius: 10px;
        height: 30%;
        width: 30%;
    }

    .list-group-item {
        padding: 0.25rem;

        .term {
            margin-right: 0.5rem;
        }
    }
}
